## The below code is written by Nagarjuna Kocharla (Me), This is  the configuration to create and run the docker container
## database, i used standard docker documentation to write this.
services:
  database:
    image: postgres
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: cryptodb
    volumes:
      - cryptodb-data://mnt/c/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    depends_on:
      - database
    ports:
      - 8080:8080

volumes:
  cryptodb-data: