body{
	margin:  0;
	padding:  0;
	background: url(backgroundimage.jpg) no-repeat;
	background-size: cover;
}
.box{
	
	width:  auto;
	height: auto;

	
	
	
	background: rgba(0,0,0,0.4);
	float: Center;
  	position: relative;
	padding: 40px;
	
	text-align: center;
	margin: auto;
	
	margin-top: 0%;
	margin-bottom: 0%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
	right: 5px;
	

}
.box-skills{
	width:  250px;
	height: auto;
	float: left;
  	position: relative;
	padding: 40px;
	
	text-align: center;
	margin: auto;
	
	margin-top: 0%;
	margin-bottom: 0%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
	right: 5px;
	


}
.box-img{
	background: url(profilepic) no-repeat;
	
	

	border-radius: 50%;
	width: 200px;
	height: 200px;
	
}
.box h1{
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 100;
}
.box h5{
	font-size: 40px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box p{
	text-align: justify;
}
ul{
	margin: 0;
	padding: 0;
}

.box li {
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;

}


.box-skills h1{
	font-size: 40px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box-skills h5{
	font-size: 40px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box-skills p{
	text-align: justify;
}


.box-skills li {
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.box-skills li a{
	color: white;
	text-decoration: none;
	font-size: 60px;

}
html {
    min-height: 100%;
    overflow-y: scroll;
}

.container{
	background:rgba(0,0,0,0.4);
	float: Center;
  	position: relative;
	
	padding: 40px;
	
	text-align: center;
	margin: auto;
	justify-content: center;
	
	margin-top: 0%;
	margin-bottom: 0%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
	right: 5px;
	display: flex;
	

}
	
	


form {
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;


}
form h3{
	color: #555;
	font-weight: 800;
	margin-bottom: 20px;
}
form input, form textarea {
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;
	font-size: 16px;

}
form button {
	padding: 15px;
	background: #ff5361;
	color: #fff;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 150px;
	margin: 20px auto 0;
	border-radius: 30px;
}
